<div class="row mb-3">
{% for field in form %}
    {% if field.field.widget.input_type != "hidden" %}
        {% if form.category.value == "integer" %}
            {% if field.label != "Sentence amount" %}
                {% if field.label == "Order" %}
                    <div class="col-sm-2">
                        <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% else %}
                    <div class="col-sm-3">
                        <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endif %}
            {% endif %}
        {% elif form.category.value == "text" %}
            {% if field.label != "Max integer" and field.label != "Min integer" %}
                {% if field.label == "Order" %}
                    <div class="col-sm-2">
                        <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% else %}
                    <div class="col-sm-3">
                        <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endif %}
            {% endif %}
        {% else %}
            {% if field.label != "Max integer" and field.label != "Min integer" and field.label != "Sentence amount" %}
                {% if field.label == "Order" %}
                    <div class="col-sm-2">
                        <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% else %}
                    <div class="col-sm-3">
                        <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
</div>