{% extends "main/base.html" %}
{% load static %}

{% block body %}
    <div class="mb-5">
        <h3>Welcome to the DjangoCSV</h3>
        <p>Online service for generating CSV files with fake(dummy) data using Python and Django</p>
    </div>

    <div class="mb-5">
        <p>To start using app visit Schemas page</p>
        <img src="{% static "images/tutorial-0.png" %}" class="img-fluid" alt="Tutorial first image">
    </div>
    <div class="mb-5">
        <p>Than create new Schema (or use already generated)</p>
        <img src="{% static "images/tutorial-1.png" %}" class="img-fluid" alt="Tutorial second image">
    </div>
    <div class="mb-5">
        <p>When creating Schema fill up name, choose separators type and create as many columns as you wish</p>
        <img src="{% static "images/tutorial-2.png" %}" class="img-fluid" alt="Tutorial third image">
    </div>
    <div class="mb-5">
        <p>After Schema creation visit it for next data generation</p>
        <img src="{% static "images/tutorial-3.png" %}" class="img-fluid" alt="Tutorial fourth image">
    </div>
    <div class="mb-5">
        <p>Enter the desired number of lines and click Generate. Python will send task to Celery and AJAX will ask
            server every second for result</p>
        <img src="{% static "images/tutorial-4.png" %}" class="img-fluid" alt="Tutorial fifth image">
    </div>
    <div class="mb-5">
        <p>P.S.: That's all :) If you have any questions about realisation feel free to ask me</p>
    </div>
{% endblock %}