{% extends "main/base.html" %}

{% block body %}
    <div class="d-flex justify-content-between">
        <div>
             <h2>Data schemas</h2>
          </div>
          <div>
              <form action="{% url "home" %}">
              <h2><button type="submit" class="btn btn-success">New schema</button></h2>
              </form>
          </div>
    </div>
    <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Modified</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
          {% for schema in schemas %}
              <tr>
                  <th scope="row">{{ schema.id }}</th>
                  <td>{{ schema.name }}</td>
                  <td>{{ schema.last_modified|date:"j F Y H:i" }}</td>
                  <td>
                      <a class="link-primary edit_link" href=""><i class="fas fa-edit"></i> Edit scheme</a>
                      <a class="link-danger ms-3 edit_link" href="{% url "schemas_delete" schema.id %}"><i class="fas fa-trash-alt"></i> Delete</a>
                  </td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}