{% extends "main/base.html" %}

{% block body %}
    <div class="d-flex justify-content-between">
        <div>
             <h2>Data schemas</h2>
          </div>
          <div>
              <form action="{% url "home" %}">
              <h2><button type="submit" class="btn btn-success">New schema</button></h2>
              </form>
          </div>
    </div>
    <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Modified</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
          </tbody>
        </table>
    </div>
{% endblock %}